# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


#other 
/.settings
/STM32Testing/Debug
*.xml
*.prefs
*.cproject
*.mxproject
*.project
*.launch
*.ioc
Telemetry System Design.autosave
*.user
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-typed-test.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-test-part.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-spi.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-printers.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-param-test.h.pump
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-param-test.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-message.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest-death-test.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/.signature.p7s
SensorFusion/Sensor Fusion Unit Test/packages.config
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor Fusion Unit Test.vcxproj.FileListAbsolute.txt
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor Fusion Unit Test.vcxproj.CopyComplete
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor Fusion Unit Test.log
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor Fusion Unit Test.exe.recipe
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor Fusion Unit Test.Build.CppClean.log
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.Build.CppClean.log
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.exe.recipe
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.log
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.tlog/CL.command.1.tlog
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.tlog/CL.read.1.tlog
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.tlog/CL.write.1.tlog
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.tlog/link.command.1.tlog
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.tlog/link.read.1.tlog
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.tlog/link.write.1.tlog
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.tlog/Matrix Unit Test.lastbuildstate
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.tlog/Matrix Unit Test.read.1u.tlog
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.tlog/Matrix Unit Test.write.1u.tlog
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.vcxproj.CopyComplete
Matrix/Matrix Unit Test/Debug/Matrix Unit Test.vcxproj.FileListAbsolute.txt
SensorFusion/Sensor Fusion Unit Test/.vs/Sensor Fusion Unit Test/v16/.suo
SensorFusion/Sensor Fusion Unit Test/.vs/Sensor Fusion Unit Test/v16/Browse.VC.db
SensorFusion/Sensor Fusion Unit Test/.vs/Sensor Fusion Unit Test/v16/Browse.VC.db-shm
SensorFusion/Sensor Fusion Unit Test/.vs/Sensor Fusion Unit Test/v16/Browse.VC.db-wal
SensorFusion/Sensor Fusion Unit Test/.vs/Sensor Fusion Unit Test/v16/Browse.VC.opendb
SensorFusion/Sensor Fusion Unit Test/.vs/Sensor Fusion Unit Test/v16/ipch/1b156e64f446869c.ipch
SensorFusion/Sensor Fusion Unit Test/.vs/Sensor Fusion Unit Test/v16/ipch/e64c4f1a1d3024cc.ipch
SensorFusion/Sensor Fusion Unit Test/.vs/Sensor Fusion Unit Test/v16/Solution.VC.db
SensorFusion/Sensor Fusion Unit Test/.vs/Sensor Fusion Unit Test/v16/Solution.VC.db-shm
SensorFusion/Sensor Fusion Unit Test/.vs/Sensor Fusion Unit Test/v16/Solution.VC.db-wal
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor F.08f19a9c.tlog/CL.command.1.tlog
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor F.08f19a9c.tlog/CL.read.1.tlog
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-port-arch.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-param-util.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-param-util-generated.h.pump
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-param-util-generated.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-linked_ptr.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-internal.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-filepath.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-death-test-internal.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/custom/README.md
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/custom/gtest.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/custom/gtest-printers.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/custom/gtest-port.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest_prod.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/gtest_pred_impl.h
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor F.08f19a9c.tlog/Sensor Fusion Unit Test.write.1u.tlog
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/license (MIT).txt
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.targets
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-type-util.h.pump
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-type-util.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-tuple.h.pump
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-tuple.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-string.h
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/build/native/include/gtest/internal/gtest-port.h
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor F.08f19a9c.tlog/Sensor Fusion Unit Test.read.1u.tlog
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor F.08f19a9c.tlog/Sensor Fusion Unit Test.lastbuildstate
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor F.08f19a9c.tlog/link.write.1.tlog
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor F.08f19a9c.tlog/link.read.1.tlog
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3.nupkg
SensorFusion/Sensor Fusion Unit Test/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/ThirdPartyNotices.txt
SensorFusion/Sensor Fusion Unit Test/pch.cpp
SensorFusion/Sensor Fusion Unit Test/pch.h
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor F.08f19a9c.tlog/link.command.1.tlog
SensorFusion/Sensor Fusion Unit Test/Debug/Sensor F.08f19a9c.tlog/CL.write.1.tlog
Matrix/Matrix Unit Test/pch.h
Matrix/Matrix Unit Test/pch.cpp
Matrix/Matrix Unit Test/packages.config
Telemetry System Design~
